<html>
<head>
    <meta charset="UTF-8">
    <title>Liste des promotions</title>
</head>
<body>
<h1>La liste de fidelité</h1>
<table id="customers">
    <thead>
    <tr>
        <th>Id</th>
        <th>Id user</th>
        <th>Nombre de pts de fidelite</th>



    </tr>
    </thead>
    <tbody>
    {% for U in fidelite %}
        <tr>
            <td>{{ U.id }}</td>
            <td>{{ U.usr.nom }}</td>
            <td>{{ U.nbr}}</td>



        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>
<style>
    h1{
        position: center;
        color : #258692;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #258692;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    .active {
        background-color: #4c6daf;
    }
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;

    }

    #customers tr:nth-child(even){background-color: #f2f2f2;}

    #customers tr:hover {background-color: #ddd;}

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #258692;
        color: #FFFFFF;
    }

</style>